:root{
  background-color: #17181c;
  color: white;
}
html {
  scroll-behavior: smooth;
}
/* Styling the scrollbar itself */
::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

/* Styling the track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* Track color */
  border-radius: 10px;
}

/* Styling the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: #6139b3; /* Thumb color */
  border-radius: 10px;
}

/* Styling the thumb when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #3c2a8d; /* Darker color when hovered */
}

/* Optional: Styling the scrollbar corner if both horizontal and vertical scrollbars are visible */
::-webkit-scrollbar-corner {
  background-color: #f0f0f0;
}
